services:
  - type: web
    name: nlquotes
    env: node
    buildCommand: npm ci && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: postgres_quotes
          property: connectionString
    routes:
      - type: rewrite
        source: /*
        destination: /
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=0, must-revalidate 