/* index.css */

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ABCGinto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ae3333;
    background-color: #101010;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: start;
    display: block; /* This ensures the block-level behavior */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(27, 21, 21, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color:rgb(204, 204, 204)
}


button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.search-input {
    width: 300px;
    text-align: center;
}

.pagination-buttons {
    position: relative;
    top: 5px;
    left: -0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.quotes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Keeps the columns at consistent sizes */
}

.quotes-table th, .quotes-table td {
    border: 1px solid #070606;
    padding: 8px;
    white-space: normal; /* Allow text to wrap */
}

.quotes-table th {
    background-color: #040303;
    text-align: left;
}

.quotes-table tr:nth-child(even) {
    background-color: #212020;
    color: #fff;
}

.quotes-table tr:nth-child(odd) {
    background-color: #171414;
    color: #fff;
}


.quotes-table th:nth-child(1), .quotes-table td:nth-child(1) {
    width: 50%; /* Adjust as needed */
}

.quotes-table th:nth-child(2), .quotes-table td:nth-child(2) {
    width: 10%; /* Adjust as needed */
}

.quotes-table th:nth-child(3), .quotes-table td:nth-child(3) {
    width: 35%; /* Adjust as needed */
}

@font-face {
    font-family: 'ABCGinto';
    src: url('./assets/fonts/ABCGinto-Regular-Trial.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

.logo-container {
    margin-bottom: 20px; /* Space between the logo and the search bar */
    text-align: center;
}

.logo-container img {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo-container img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo-container img.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.stats {
    color: white;
    text-align: left; /* Aligns text to the left */
    position: relative; /* Allows positioning */
    left: 0; /* Aligns the element to the left edge of the parent */
    padding: 10px; /* Optional padding for better spacing */
    
}